/* body section */
*{
    margin: 0;
}
/* header section */
section {
    margin-bottom: 130px;
}
.text-align {
    text-align: right;
    margin-right: 280px;
    padding-top: 190px;
}

.btn-primary {
    background-color: #F15B22;
    border-radius: 5px;
    padding: 18px;
    color: #FFFFFF;
    border: none;
    margin-top: 32px;
}

.banner-section {
    background-image: url('images/banner/banner2.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1500px;
    height: 800px;
    top: 0;
}

/* main section */
/* my previous failure of year */
.text-description-img {
    display: flex;
    gap: 80px;
}

.text-description {
    padding-top: 220px;
}

.img-person {
    margin-left: 200px;
}

/* my plans*/

.text-plan{
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
}
.good-and-bad{
            display: flex;
            gap: 160px;
            padding-left:210px ;
}
.image-text{
    text-align: center;
}
/* interest section */
.interest-section {
    width: 1140px;
    height: 300px;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('images/watch.png');
    border-radius: 8px;
    margin-left: 100px;
}
.awlays-active{
   font-size: 26px;
   padding: 20px 30px 10px 30px; 
   color: #FFFFFF;
}
.button-section{
            padding: 15px 25px ;
            background-color: #FFFFFF;
            color: #F15B22;
            border-radius: 5px;
            border: none;

}
.btn-padding{
    padding: 0px 30px;
        
}
/* happy new year */
.strong-section {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

/* fooder section */
.bg-color{
    display: flex;
    background-color: black;
}
.blog-color{
    color: white;
    padding: 100px;
    margin: 10px;
}
.media-icon>img{
    margin-right:10px ;
    margin-top: 10px;
}
.subscribe{
    padding: 100px;
    color: white;
}
#email{
    padding: 10px 70px 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.btn-subscribe{
            padding:10px ;
            background-color:#FFFFFF;
            color: #F15B22;
            border-radius: 5px;
            border: none;
            font-size: 20px;
}